.progress {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: #ff8800;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    z-index: 10;
    font-family: 'Geologica', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.progress_transition {
    font-family: 'Geologica', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    animation: fadeOut ease-out 0.3s forwards;
}

@keyframes kappa {
    0% {
       opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
