.canvas {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    animation: moveCanvas ease-in-out 3s forwards;
    animation-delay: 1s;
}

.canvas_body {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

@keyframes moveCanvas {
    0% {
        left: 0;
    }

    100% {
        left: 15vw;
        }
    
}