.banner-main {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    margin-left: 150px;
}

.title {
    font-family: 'Geologica', sans-serif;
    margin-left: 150px;
}